html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: block !important;
}

#root {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
